<html>
<div style="margin-top:70px;margin-right:20px;margin-left:20px;margin-bottom:20px">

    <ul>
        <li>
<div style="float:right">

    <p style = "font-size:15px"><b>corporate office</b></p>
    <p style = "font-size:15px">
    {{org.address.line1}},{{org.address.line2}},{{org.address.line3}}<br/>
    {{org.address.city}},{{org.address.pincode}},
        {{org.address.state}}.<br/>
    mobile phone:93857634 <br/></p>
</div>

        </li>
        <li>
            <div>
                 <p style="text-align: center;font-size:20px"><b>Employee Address Confirmation</b>

        <br/>

    <p>This is to confirm that Mr. ƒ Ms.  <b>{{name}}</b> is working with us (Vsolv Engineering India Private
Limited) as Backend Developer, with effect from December 2021.<br/>
<p>As per the documents submitted, his current address is as mentioned below:<br/><br/>
Name of the Employee : {{employee.name}}<br/>
Residence Address    : {{employee.address.line1}},{{employee.address.line2}}.<br/>
City                 : {{employee.address.city}}<br/>
State                : {{employee.address.state}}<br/>
Pin Code             : {{employee.address.pincode}}<br/>
for VSOLV ENGINEERING INDIA PVT LTD</p>
            </div>
        </li>
    </ul>

<!--    <div style="display: grid;justify-content: flex-end;background-color:red" >-->

<!--    <p style = "font-size:15px"><b>corporate office</b></p>-->
<!--    <p style = "font-size:15px">-->
<!--    {{orgline1}},{{orgline2}},{{orgline3}}<br/>-->
<!--    {{orgcity}},{{orgpincode}},-->
<!--        {{orgstate}}.<br/>-->
<!--    mobile phone:93857634 <br/></p></div>-->

<!--    <p style="text-align: center;font-size:20px"><b>Employee Address Confirmation</b>-->

<!--        <br/>-->

<!--    <p>This is to confirm that Mr. ƒ Ms.  <b>{{name}}</b> is working with us (Vsolv Engineering India Private-->
<!--Limited) as Backend Developer, with effect from December 2021.<br/>-->
<!--<p>As per the documents submitted, his current address is as mentioned below:<br/><br/>-->
<!--Name of the Employee : {{name}}<br/>-->
<!--Residence Address    : {{line1}},{{line2}}.<br/>-->
<!--City                 : {{city}}<br/>-->
<!--State                : {{state}}<br/>-->
<!--Pin Code             : {{pincode}}<br/>-->
<!--for VSOLV ENGINEERING INDIA PVT LTD</p>-->
<!--</div>-->
</div>
</html>
