<html>
<div class="appointment-letter">
  <p style="text-align: center;font-size:20px">OFFER LETTER
  <br/>
  </p>
    <p>Mr. ƒ Ms.  <b>{{name}},</b><br/>
      &nbsp;{{address.line1}},<br/>
      {{address.line2}},<br/>
      {{address.city}},<br/>
      {{address.pincode}}.<br/>
      <br/>
  </p>
  <p>
    Dear {{name}},
  </p>
   <p> Sub: Provisional Employment Offer
  </p>
  <p> We are pleased to offer you an appointment in our organization as <b>{{designation}}</b> with effect from Joining Date.
Your Appointment will be subject to Terms and Conditions of VSOLV Engineering India Pvt Ltd and the Final Offer cum
Appointment Letter will be issued at the time of Joining.
Your offer has been made based on information furnished by you. However, if there is a discrepancy in the copies of
documents or certificates given by you as a proof of above, we retain the right to review our offer of employment.
Employment as per this offer is subject to your being medically fit.
Please sign and return duplicate copy of this letter in token of your acceptance.</p><br/>
  <p>Declarations: This appointment is made on the basis of information provided by you.
      Should it prove untrueƒincorrect at any time, the Company reserves the rights to take appropriate action including forthwith termination of service.
      We shall be entitled to initiate necessary enquiries with the source of reference provided by you.
      In case of unfavorable report, we shall be entitled to take appropriate steps including forthwith terminating this agreement</p><br/>
   <p>Wish you a successful professional stint with us. We look forward to a mutually beneficial and enriching experience having you on board. All the best!</p>

</p>
    <p style="page-break-before: always"></p>
<br/>

    <p style="clear: both;">Encl:<br/>
1) Service Agreement
</p>

 <table border=1 cellspacing=1>
    <tr>
      <td colspan="3" style="text-align:center">ANNEXURE I</td>
    </tr>
    <tr>
     <td colspan="3" style="text-align:center">COMPANY NAME LIMITED</td>
    </tr>
     <tr >
      <td style="width:40%">Employee No </td>
       <td colspan="4"></td>
    </tr>
   <tr >
      <td style="width:40%">Name  </td>
       <td colspan="4"></td>
    </tr>
   <tr >
      <td style="width:40%">Designation  </td>
       <td colspan="4"></td>
    </tr>
   <tr >
      <td style="width:40%">Department  </td>
       <td colspan="4"></td>
    </tr>
    <tr >
      <td style="width:40%">Date of Joining  </td>
       <td colspan="4"></td>
    </tr>
    <tr >
      <td style="width:40%">Remarks  </td>
       <td colspan="4"></td>
    </tr>
     <tr >
      <td style="width:40%">SALARY COMPONENTS </td>
       <td >INR PER MONTH</td>
       <td >INR PER ANNUM</td>
    </tr>
    <tr >
      <td style="width:40%">Basic  </td>
       <td ></td>
       <td ></td>
    </tr>
   <tr >
      <td style="width:40%">HRA  </td>
       <td ></td>
       <td ></td>
    </tr>
   <tr >
      <td style="width:40%">Additional Allowance   </td>
       <td ></td>
       <td ></td>
    </tr>
   <tr >
      <td style="width:40%">Education Allowance   </td>
       <td ></td>
       <td ></td>
    </tr>
   <tr >
      <td style="width:40%">Conveyance Allowance   </td>
       <td ></td>
       <td ></td>
    </tr>
   <tr >
      <td style="width:40%">Consolidated Allowance   </td>
       <td ></td>
       <td ></td>
    </tr>
   <tr >
      <td style="width:40%">Car  </td>
       <td ></td>
       <td ></td>
    </tr>
   <tr >
      <td style="width:40%">PF </td>
       <td ></td>
       <td ></td>
    </tr>
   <tr >
      <td style="width:40%">EDLI  </td>
       <td ></td>
       <td ></td>
    </tr>
   <tr >
      <td style="width:40%">Medical Reimbursement   </td>
       <td ></td>
       <td ></td>
    </tr>
   <tr >
      <td style="width:40%">LTA  </td>
       <td ></td>
       <td ></td>
    </tr>
   <tr >
      <td style="width:40%">Gratuity  </td>
       <td ></td>
       <td ></td>
    </tr>
   <tr >
      <td style="width:40%">Medi−claim  </td>
       <td ></td>
       <td ></td>
    </tr>
   <tr >
      <td style="width:40%">Fixed  </td>
       <td ></td>
       <td ></td>
    </tr>
   <tr >
      <td style="width:40%">Variable  </td>
       <td ></td>
       <td ></td>
    </tr>
    <tr >
      <td style="width:40%">CTC  </td>
       <td ></td>
       <td ></td>
    </tr>
    <tr >
      <td colspan="3" style="width:40%">Remarks: With ref to FY FY pro−rata Performance Linked Award will be RS.
 PRO RATED VARIABLE AMOUNT ƒ−.
  </td>
    </tr>
</table>


</div>
</html>