<html>
<div class="relieving letter"></div>
<!--  <p style="text-align: center;font-size:20px">-->
  <br/>
  </p>
    <p>To [HR Manager]<br/>
[Employee_Designation]<br/>
  </p><br/>
<p>Date:12.12.2022</p><br/>
   <p> Subject: Request For Relieving Letter
  </p>
<p>
    Dear {{name}},
  </p>
<p> I am <b>{{name}}</b> and have resigned from the <b>{{designation}}</b> position.</p><br/>
<p>I request you to issue my relieving letter, my final settlement, and the certificates I submitted when I joined the company.</p><br/>
I sent my resignation letter on [Employee_Resignation_Date].
I have served my notice period and completed all the required formalities.
<p>I would be highly obliged if you could issue my relieving letter as I have to submit it along with other documents at the new company
    when I start my new job, which will be on [Joining_date].</p><br/>

Regards,<br/>
{{name}}</p></html>